{% load static %}
<!DOCTYPE html>
<html>
 
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />
<title>Post list</title>
{% block content %} 
  {% for obj in post %}
      <div class="card">
      <h1 class="title">{{obj.blog.heading}}</h1>
      <small class="sub_heading">{{obj.blog.sub_heading}}</small> 
      <h3>{{obj.title}}</h3>
      <p><strong>Posted By:</strong> {{obj.author}}</p>
      <small> Posted on: {{ obj.date|timesince }} ago</small></p>
      <div class="tags">
      {% for tag in obj.tags.all %}
          {% if not forloop.last %}
            <small>{{tag}},</small>
          {% else  %}
            <small>{{tag}}</small>
          {% endif %}
      {% endfor %}
      </div> 
      <p>{{obj.category.title}}</p>
      <p><li><a href='{% url "blog:post" obj.id %}'   role="button">Detail</a></li></p>  
      </div> 
  {% endfor %}
  <div class="pagination">
      <span class="step-links">
          {% if post.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ post.previous_page_number }}">previous</a>
          {% endif %}
          <span class="current">
              Page {{ post.number }} of {{ post.paginator.num_pages }}.
          </span>
          {% if post.has_next %}
              <a href="?page={{ post.next_page_number }}">next</a>
              <a href="?page={{ post.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>

{% endblock %}

